html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

form > :not(.validation-summary-valid) {
    padding: .5rem 0;
}

.dropdown-toggle::after {
    right: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
