@using BOTS.Data.Models
@model LiveViewModel

@{
    ViewData["Title"] = "Live Trades";
}

<h1 class="text-center">Live trading</h1>

<div class="container">
    <div class="row">
        <div class="col-xl-6 justify-center">
            <div class="d-flex flex-column align-items-center">
                <label for="chartTypeSelect" class="form-label">Chart type</label>
                <select asp-for="Preset.ChartType" asp-items="@Html.GetEnumSelectList<ChartType>()" id="chartTypeSelect" class="form-select w-50">
                </select>
            </div>

            <div id="chart" class="mt-3"></div>
        </div>
        <div class="col-xl-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <h5>Currency pair</h5>
                        <select id="currencyPair" class="form-select"
                                asp-for="Preset.CurrencyPairId" asp-items="Model.CurrencyPairs"></select>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h5>Currency rate: </h5>
                        <p id="currencyRate" class="bg-gradient bg-primary text-light container-fluid rounded-2 p-2">N/A</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-active">
                                    <th colspan="2" class="text-center">Payout</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$</td>
                                    <td><input id="payoutInput" type="number" value="@Model.Preset.Payout" class="form-control text-right" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <h5>Trading window</h5>
                        <select id="bettingOptions" class="form-select"></select>
                    </div>
                    <div class="col-sm-4">
                        <h5>Remaining time</h5>
                        <p id="timeRemaining"></p>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-active table-bordered text-center ">
                        <thead>
                            <tr>
                                <th>Barrier</th>
                                <th><img style="max-width: 3rem;" class="rounded d-block mx-auto" src="~/img/higher.svg" asp-append-version="true" alt="higher" /> Higher</th>
                                <th><img style="max-width: 3rem;" class="rounded d-block mx-auto" src="~/img/lower.svg" asp-append-version="true" alt="lower" /> Lower</th>
                            </tr>
                        </thead>
                        <tbody id="barrierContainer"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <caption>Active bets</caption>
            <thead>
                <tr>
                    <th>Bet Id</th>
                    <th>Prediction</th>
                    <th>Entry fee</th>
                    <th>Payout</th>
                </tr>
            </thead>
            <tbody id="activeBets">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/plotly/dist/plotly.min.js"></script>
<script src="~/js/livetrades.js" asp-append-version="true"></script>
<script src="~/js/plot.js" asp-append-version="true"></script>
}
